# Node.js
/node_modules/

# Build output
/dist/
/build/
/.eslintcache

# IDEs y editores de código
/.idea/
/.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de dependencias
/package-lock.json
/yarn.lock

# Archivos de entorno
.env
.env.local
.env.*.local

# Directorios de cache
/.cache/

# Archivos de pruebas
/coverage/
